@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    width: 100dvw;
    height: 100vh;
    /* font-family: 'Coolvetica', sans-serif; */
    background-color: #fff;
    color: #131313;
    font-size: 16px;
    font-weight: 400;
    /* line-height: 1.5; */
    /* letter-spacing: 0.05rem; */
    font-family: 'Figtree', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    /* font-family: 'Coolvetica', sans-serif; */
    text-transform: capitalize;
    line-height: 1;
    font-family: 'Figtree', sans-serif;
}

main {
    width: 100%;
}

section {
    padding: 100px 60px;
}




/* << this is the header section where the navigation is >> */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100;
    padding: 10px 60px;
    background-color: white;
    color: #131313;
    border-bottom: 1px solid grey;
}

header img {
    width: 50px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #131313;
    padding: 10px 10px;
}

nav a:hover {
    /* background-color: ; */
    border-bottom: 2px solid #F06105;
    /* border-bottom-left-radius: 100px; */
    /* border-bottom-right-radius: 100px; */
    cursor: pointer;
}

.portal-access {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.portal-access > :nth-child(1) {
    border: none !important;
    padding: 10px !important;
    border-radius: 0px !important;
}

.portal-access > :nth-child(1):hover {
    border-bottom: 2px solid #F06105 !important;
    /* color: blue; */
}
/* << header section ends here and main section starts below >> */



/* << buttons section - these styles will be reusable across all designs. >> */
button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 30px;
    border-radius: 100px;
    /* color: #131313; */
    cursor: pointer;
    font-size: 14px;
    font-family: 'Figtree', sans-serif;
}

button img {
    width: 20px;
    height: 20px;
}

.pri-btn {
    background-color: #F06105;
    color: #131313;
    border: none;
}

.pri-btn:hover {
    background-color: whitesmoke;
    color: grey;
}

.sec-btn {
    background-color: transparent;
    /* color: #131313; */
    border: 1px solid #131313;
}

.sec-btn:hover {
    background-color: whitesmoke;
    color: grey;
    border: none;
}



/* << footer section styling starts here. this styling is applied to mutliple html file >> */
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 100px 60px 20px 60px;
    background-color: #043D39;
    color: white;
    font-weight: 300;
    gap: 100px;
}

footer .top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

footer .top img {
    width: 75px;
    height: 75px;
}

footer .top p {
    width: 70%;
    text-align: center;
}

.socials {
    display: flex;
    gap: 10px;
}

.socials a {
    text-decoration: none;
}

.socials a img {
    width: 40px;
    height: 40px;
}

footer .botom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-top: 1px solid whitesmoke;
    padding: 50px 10px 0 10px;
}

footer .botom .ryt {
    display: flex;
    gap: 20px;
}

footer .botom .ryt a {
    text-decoration: none;
    color: whitesmoke;
}

footer .botom .ryt a:hover {
    text-decoration: underline;
}
